In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import copy

In [2]:
#loading the dataset
dataset = pd.read_csv (r'Churn.csv')

#printing the dataset
#print(dataset)

#dataset info
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [3]:
#printing the features of the dataset 
reader = csv.DictReader(open("Churn.csv"))
names=reader.fieldnames
names

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [4]:
#viewing the object type attributes of the dataset
datasetcopy=dataset
datasetcopy1=dataset.select_dtypes(include=['object']).copy()
datasetcopy1.head()

   customerID  gender Partner  ...              PaymentMethod TotalCharges Churn
0  7590-VHVEG  Female     Yes  ...           Electronic check        29.85    No
1  5575-GNVDE    Male      No  ...               Mailed check       1889.5    No
2  3668-QPYBK    Male      No  ...               Mailed check       108.15   Yes
3  7795-CFOCW    Male      No  ...  Bank transfer (automatic)      1840.75    No
4  9237-HQITU  Female      No  ...           Electronic check       151.65   Yes

[5 rows x 18 columns]

In [5]:
 #indicates there are no missing values row wise
print(datasetcopy.isnull().values.sum())

0

In [6]:
#indicates there are no missing values column wise
print(datasetcopy.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [0]:
#setting the object datatype as category datatype and converting them into categorical types for training
datasetcopy['gender'] = datasetcopy['gender'].astype('category')
datasetcopy['gender'] = datasetcopy['gender'].cat.codes

datasetcopy['Partner'] = datasetcopy['Partner'].astype('category')
datasetcopy['Partner'] = datasetcopy['Partner'].cat.codes

datasetcopy['Dependents'] = datasetcopy['Dependents'].astype('category')
datasetcopy['Dependents'] = datasetcopy['Dependents'].cat.codes

datasetcopy['PhoneService'] = datasetcopy['PhoneService'].astype('category')
datasetcopy['PhoneService'] = datasetcopy['PhoneService'].cat.codes

datasetcopy['MultipleLines'] = datasetcopy['MultipleLines'].astype('category')
datasetcopy['MultipleLines'] = datasetcopy['MultipleLines'].cat.codes

datasetcopy['InternetService'] = datasetcopy['InternetService'].astype('category')
datasetcopy['InternetService'] = datasetcopy['InternetService'].cat.codes

datasetcopy['OnlineSecurity'] = datasetcopy['OnlineSecurity'].astype('category')
datasetcopy['OnlineSecurity'] = datasetcopy['OnlineSecurity'].cat.codes

datasetcopy['OnlineBackup'] = datasetcopy['OnlineBackup'].astype('category')
datasetcopy['OnlineBackup'] = datasetcopy['OnlineBackup'].cat.codes

datasetcopy['DeviceProtection'] = datasetcopy['DeviceProtection'].astype('category')
datasetcopy['DeviceProtection'] = datasetcopy['DeviceProtection'].cat.codes

datasetcopy['TechSupport'] = datasetcopy['TechSupport'].astype('category')
datasetcopy['TechSupport'] = datasetcopy['TechSupport'].cat.codes

datasetcopy['StreamingTV'] = datasetcopy['StreamingTV'].astype('category')
datasetcopy['StreamingTV'] = datasetcopy['StreamingTV'].cat.codes

datasetcopy['StreamingMovies'] = datasetcopy['StreamingMovies'].astype('category')
datasetcopy['StreamingMovies'] = datasetcopy['StreamingMovies'].cat.codes

datasetcopy['Contract'] = datasetcopy['Contract'].astype('category')
datasetcopy['Contract'] = datasetcopy['Contract'].cat.codes

datasetcopy['PaperlessBilling'] = datasetcopy['PaperlessBilling'].astype('category')
datasetcopy['PaperlessBilling'] = datasetcopy['PaperlessBilling'].cat.codes

datasetcopy['PaymentMethod'] = datasetcopy['PaymentMethod'].astype('category')
datasetcopy['PaymentMethod'] = datasetcopy['PaymentMethod'].cat.codes

#datasetcopy['Churn'] = datasetcopy['Churn'].astype('category')
#datasetcopy['Churn'] = datasetcopy['Churn'].cat.codes

In [8]:
#printing after converting objects into categorical types
datasetcopy.head()

   customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0  7590-VHVEG       0              0  ...           29.85         29.85     No
1  5575-GNVDE       1              0  ...           56.95        1889.5     No
2  3668-QPYBK       1              0  ...           53.85        108.15    Yes
3  7795-CFOCW       1              0  ...           42.30       1840.75     No
4  9237-HQITU       0              0  ...           70.70        151.65    Yes

[5 rows x 21 columns]

In [9]:
#printing dtype of column TotalCharges
print(datasetcopy['TotalCharges'].dtypes)

object

In [0]:
#converting the datatype of column TotalCharges into 'float32' type
datasetcopy["TotalCharges"] = pd.to_numeric(datasetcopy["TotalCharges"],errors='coerce')
datasetcopy["TotalCharges"] = datasetcopy["TotalCharges"].astype('float32')

In [11]:
#dataset info
datasetcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null int8
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int8
Dependents          7043 non-null int8
tenure              7043 non-null int64
PhoneService        7043 non-null int8
MultipleLines       7043 non-null int8
InternetService     7043 non-null int8
OnlineSecurity      7043 non-null int8
OnlineBackup        7043 non-null int8
DeviceProtection    7043 non-null int8
TechSupport         7043 non-null int8
StreamingTV         7043 non-null int8
StreamingMovies     7043 non-null int8
Contract            7043 non-null int8
PaperlessBilling    7043 non-null int8
PaymentMethod       7043 non-null int8
MonthlyCharges      7043 non-null float64
TotalCharges        7032 non-null float32
Churn               7043 non-null object
dtypes: float32(1), float64(1), int64(2), int8(15), object(2)
memory usage: 405.9+ KB

In [12]:
#filling out the nan values/infinite values and very long values 
datasetcopy['TotalCharges'] = np.nan_to_num(datasetcopy['TotalCharges'])
datasetcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null int8
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int8
Dependents          7043 non-null int8
tenure              7043 non-null int64
PhoneService        7043 non-null int8
MultipleLines       7043 non-null int8
InternetService     7043 non-null int8
OnlineSecurity      7043 non-null int8
OnlineBackup        7043 non-null int8
DeviceProtection    7043 non-null int8
TechSupport         7043 non-null int8
StreamingTV         7043 non-null int8
StreamingMovies     7043 non-null int8
Contract            7043 non-null int8
PaperlessBilling    7043 non-null int8
PaymentMethod       7043 non-null int8
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null float32
Churn               7043 non-null object
dtypes: float32(1), float64(1), int64(2), int8(15), object(2)
memory usage: 405.9+ KB

In [0]:
#normalization
from sklearn import preprocessing

#normalizing the column 'tenure'
x = datasetcopy[['tenure']].values.astype(int)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
datasetcopy['tenure'] = pd.DataFrame(x_scaled)

#normalizing the column 'Monthly Charges'
x = datasetcopy[['MonthlyCharges']].values.astype(int)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
datasetcopy['MonthlyCharges'] = pd.DataFrame(x_scaled)

#normalizing the column 'Monthly Charges'
x = datasetcopy[['TotalCharges']].values.astype(int)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
datasetcopy['TotalCharges'] = pd.DataFrame(x_scaled)

In [14]:
#printing the entire dataset
datasetcopy

      customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges  Churn
0     7590-VHVEG       0              0  ...            0.11      0.003339     No
1     5575-GNVDE       1              0  ...            0.38      0.217526     No
2     3668-QPYBK       1              0  ...            0.35      0.012437    Yes
3     7795-CFOCW       1              0  ...            0.24      0.211884     No
4     9237-HQITU       0              0  ...            0.52      0.017388    Yes
...          ...     ...            ...  ...             ...           ...    ...
7038  6840-RESVB       1              0  ...            0.66      0.229157     No
7039  2234-XADUH       0              0  ...            0.85      0.847766     No
7040  4801-JZAZL       0              0  ...            0.11      0.039843     No
7041  8361-LTMKD       1              1  ...            0.56      0.035237    Yes
7042  3186-AJIEK       1              0  ...            0.87      0.788116     No

[7043 rows x 21 columns]

In [15]:
#printing the dataset info
datasetcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null int8
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int8
Dependents          7043 non-null int8
tenure              7043 non-null float64
PhoneService        7043 non-null int8
MultipleLines       7043 non-null int8
InternetService     7043 non-null int8
OnlineSecurity      7043 non-null int8
OnlineBackup        7043 non-null int8
DeviceProtection    7043 non-null int8
TechSupport         7043 non-null int8
StreamingTV         7043 non-null int8
StreamingMovies     7043 non-null int8
Contract            7043 non-null int8
PaperlessBilling    7043 non-null int8
PaymentMethod       7043 non-null int8
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null float64
Churn               7043 non-null object
dtypes: float64(3), int64(1), int8(15), object(2)
memory usage: 433.4+ KB

In [16]:
#splitting the attributes and labels 
X = datasetcopy.iloc[:, 1:-1].values  #attributes
y = datasetcopy.iloc[:, -1].values  #labels

#printing the shape of X and y
print(X.data.shape,y.data.shape)

(7043, 19) (7043,)

In [0]:
# One-hot encode the data using pandas get_dummies
datasetcopy['Churn'] = pd.get_dummies(datasetcopy['Churn'])
# Labels are the values we want to predict
labels = np.array(datasetcopy['Churn'])
# Remove the labels from the features
# axis 1 refers to the columns
features=datasetcopy.drop('Churn', axis = 1)
features=features.drop('customerID', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [0]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [19]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (5282, 19)
Training Labels Shape: (5282,)
Testing Features Shape: (1761, 19)
Testing Labels Shape: (1761,)

In [0]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators=22)
# Train the model on training data
rf.fit(train_features, train_labels);

In [21]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 0.28

In [0]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

In [0]:
# Limit depth of tree to 3 levels
rf_small = RandomForestRegressor(n_estimators=100, max_depth = 3)
rf_small.fit(train_features, train_labels)
# Extract the small tree
tree_small = rf_small.estimators_[5]
# Save the tree as a png image
export_graphviz(tree_small, out_file = 'small_tree.dot', feature_names = feature_list, rounded = True, precision = 1)
(graph, ) = pydot.graph_from_dot_file('small_tree.dot')
graph.write_png('small_tree.png');